.speech {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: black
}

.direction {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    color: black;
    background-color: #f0f0f0;
}

.direction:hover {
    background-color: #e0e0e0;
    color: #333;
}

.OD {
    color: salmon;
}

.NEO {
    color: fuchsia;
}

table { border: dashed 3px;
    overflow: auto;
    border-collapse: separate;}
table.collapsing {
     border: solid 3px;
    border-collapse: collapse;
    outline: solid 2px azure;}
td, th {
    border: solid 1px;
    text-align: center;}
tr {
    background-color: #f0f0f0(211, 134, 197) ;}
tr:nth-child(even) {
    background-color: #e2e2e2;}


h6:hover {
    text-shadow: 3px 3px 8px blueviolet; 
    border: 2px dashed burlywood;       
    padding: 5px;                
    transition: all 0.3s ease;     
}

  
/* Navbar styles */
.navbar {
    background-color: #cdca21;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.navbar ul{
    list-style: none;
    margin:0;
    padding:0;
}
.navbar li{
    display:inline;
    margin:0 15px;
}
.navbar a {
    display: inline-block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.navbar img {
    vertical-align: middle; 
    margin-right: 5px; 
    height: 20px; 
}