.speech {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: black
}

.direction {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    color: black;
    background-color: #f0f0f0;
}

.direction:hover {
    background-color: #e0e0e0;
    color: #333;
}

.OD {
    color: salmon;
}

.NEO {
    color: fuchsia;
}

table { border: dashed 3px;
    overflow: auto;
    border-collapse: separate;}
table.collapsing {
     border: solid 3px;
    border-collapse: collapse;
    outline: solid 2px azure;}
td, th {
    border: solid 1px;
    text-align: center;}
tr {
    background-color: #f0f0f0(211, 134, 197) ;}
tr:nth-child(even) {
    background-color: #e2e2e2;}


h6:hover {
    text-shadow: 3px 3px 8px indianred; 
    border: 2px dashed burlywood;       
    padding: 5px;                
    transition: all 0.3s ease;     
}
